.more__information {
    display: none;
}

@media (min-width: 1000px) {
    .information {
        display: none;
    }

    .more__information {
        display: block;
        text-align: center;
    }

    .information__headings {
        margin-bottom: 30px;
    }

    .more__information--container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        overflow-x: scroll;
        overflow-y: none;
        padding-top: 100px;
    } 

    ::-webkit-scrollbar {
        // margin-top: 20px;
    }

    .more__information--container li {
        background-color: #f6f4f4;
        width: 500px;
        margin-right: 20px;
        height: 300px;
    }

    .more__information--container li img {
        margin-top: -77px;
    }
}