body {
    font-family: "Be Vietnam";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f6f4f4;
}

h1 {
    font-size: 45px;
}

h1, h2, h3, h4, h5, h6 {
    color: hsl(228, 39%, 23%);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
}

p {
    color: hsl(0, 1%, 72%);
}

footer {
    background-color: hsl(233, 12%, 13%);
}