.header {
  margin-left: 10%;
}

.headings {
  background-image: url(../../images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position-x: 215px;
  background-position-y: -298px;
  display: block;
  width: 100%;
}

@media (min-width: 1000px) {
  .headings {
    background-position-x: 147%;
    background-position-y: 153%;
    background-size: 65%;
  }
  
  .header {
    margin-left: 100px;
  }
}
